.confirm-qingmu {
  &__body {
    background: url('../static/img/updateConfirm.png') no-repeat;
    background-size: 100% 100%;
    width: 250px;
    min-height: 250px;
    vertical-align: middle;
    display: inline-flex;
    padding-top: 30px;
  }
  &__wrapper {
    width: 100%;
    padding: 25px 20px;
    text-align: left;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
  &__content {
    margin-top: 60px;
    width: 100%;
  }
  &__desc {
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 400;
  }
  &__btn {
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
    line-height: 40px;
    &--confirm {
      color: #fff;
      background-color: #617af7;
      border-radius: 40px;
      cursor: pointer;
      &:hover {
        background-color: #4f6ae9;
      }
    }
    &--cancel {
      color: #B0B0B0;
      span {
        cursor: pointer;
        &:hover {
          color: #617af7;
        }
      }
    }
  }
}